.ipynb_checkpoints
sentences.csv
resource
glove.6B.300d.txt
glove.6B.200d.txt
glove.6B.50d.txt
glove.6B.100d.txt
04_02_2020_NewData.txt
dev.txt
train.txt
vocab_embeddings.npz
tags_embeddings.npz
tags.txt
vocabs.txt
english_sentences_tatoeba.txt
glove.6B.50d.txt
glove.6B.100d.txt
glove.6B.200d.txt
glove.6B.300d.txt
train.txt
test.txt
dev.txt
vocabs.txt
tags.txt
tag.txt
char.txt
28_01_2020_NewData.txt
tags_embeddings.npz
vocab_embeddings.npz
modal_folder
04_02_2020_NewData.txt
tag_embeddings.npz
data_folder.char.txt
model
12_02_2020_Data.txt